# All intermediate objects.
/.build

# All binaries.
/joosc
/test
/output
/a.out

# Stuff.
/tags

# Submission archive.
/submit.zip

# Runtime java classes.
/runtime/*/*.class

# Bazel dirs.
/bazel-bin
/bazel-genfiles
/bazel-joosc
/bazel-out
/bazel-testlogs
